@charset "utf-8";
/* CSS Document */

/*utility class, hides elements*/
.hidden
{
	display: none;
}

/*
body {
	 background-image:url(../images/bg.png);
	
}
*/
/*

#starship {
	position: relative;
	z-index: 2;
}
*/

/*
#background {
	position: absolute;
	z-index: 1;
}
*/

#container {
	position: relative;
}
#startButton {
	border-radius: 18px;
	margin-left: 646px;
	margin-top: 230px;
	position: absolute;
    background-color: gray;
    color: yellow;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

#startButton:hover {
	border: 2px solid red;
}









